<nav class="navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FotoBuku</a>
    </div>
	<ul class="nav navbar-nav navbar-right">
		<li style="float:right"><a href="/status">Status</a></li>
		<li style="float:right"><a href="/profiles">Profile</a></li>
		<li style="float:right"><a href="/friends">Friends</a></li>
		<li style="float:right"><a href="/stats">Stats</a></li>
    </ul>
  </div>
</nav>