
{% extends "base.html" %}
{% block content %}

<style>
    .status-form-textarea{
        width: 85%;
    }

    .submit{
        width: 15%;
    }
    .card {
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
        <!-- box-shadow: 2px; -->
		<!-- background-clip: padding-box; -->
		background-clip: padding-box;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .no-shadow{
        box-shadow: none;
    }
	
	.card-status {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
        
    .card-footer{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: white;
    }

    .card-text {
        border-left: thick double #4286F4;
        padding:10px;
    }

    .card-container {
        padding:20px;
        background-color: white;
    }

    body {
        background-color: #EAEAEA;
    }
	
	[class*="col-"] {
		<!-- float: left;
		padding: 10px; -->
		border: 1px solid red;
	}


</style>

    <br><br><br><br>
    <div class="col-sm9">
        <div class="card-container">
            <div class = "card">
                <b>Kamu merespon ke pos ini</b>
                <div class="card-body">
                    <p class="card-text">{{message}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{created_date}}
                </div>
            </div>
            <div class = "card no-shadow">
                <form id="form" method="POST" action="{% url 'status:komentar_status' %}">
                    <input type='hidden' name='id' value= {{idx}} />
                    {% csrf_token %}
                    {{ status_form }}
                    <input id="submit" type="submit" class="btn" value="Submit"><br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
