{% extends "base.html" %}
{% block content %}

<style>
    .status-form-textarea{
        width: 85%;
    }

    .submit{
        width: 15%;
    }
    .card {
        margin-top: 30px;
        margin-left: 100px;
        margin-right: 100px;
        background-clip: padding-box;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .no-shadow{
        box-shadow: none;
    }
    
    .card-status {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
    }
        
    .card-footer{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: white;
    }

    .card-text {
        border-left: thick double #4286F4;
        padding:10px;
    }

    .card-container {
        padding:20px;
        background-color: white;
    }

    body {
        background-color: #EAEAEA;
    }
    
    [class*="col-"] {
        <!-- float: left;
        padding: 10px; -->
        <!-- border: 1px solid red; -->
    }


</style>

<body>
    <br><br>
    <div class="card-container card">
        <div class="card-container">
            <div class = "card no-shadow" style="bakground-color: #EAEAEA">
                    <form id="form" method="POST" action="{% url 'status:add_message' %}">
                            {% csrf_token %}
                            {{ status_form }}
                        <input id="submit" type="submit" class="btn" value="Submit"><br>
                    </form>
            </div>

            <section name="warning">
                {% if error %}
                    <div class="card alert alert-danger text-center">
                        <div class="card-body">
                            <strong>{{error}}</strong>
                        </div>
                    </div>
                {% endif %}
            </section>

            <br>
                {% if status %}
                    {% for data in status %}
                        <div class="card-status">
                            <div class="card-body">
                                <p class="card-text">{{data.message}}</p>
                            </div>
                            <div class="card-footer text-muted">
                                {{data.created_date}}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-danger text-center">
                        <strong>Belum ada data yang dimasukan</strong>
                    </div>
                {% endif %}
        </div>
    </div>
</body>
{% endblock %}
