@import url('https://fonts.googleapis.com/css?family=Expletus+Sans|Mukta');
html, body {
	background-color: #EAEAEA;
	<!-- height:1500px -->
}
li a {
	font-family: "Mukta";
	font-size: 15px;
	color: #000000;
}
.navbar-brand {
	font-family: 'Expletus Sans', cursive;
}
.navbar-custom {
	padding: 0px;
	background-color:#123456;
	color:#ffffff;
	border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
	color:#d4e4f7;
}

.navbar-custom .navbar-nav > .active > a {
	color: #ffffff;
	background-color:transparent;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
	text-decoration: none;
	background-color: #1f5993;
}
.navbar-custom .navbar-brand {
	font-size: 30px;
	color:#eeeeee;
}
.navbar-custom .navbar-toggle {
	background-color:#eeeeee;
}
.navbar-custom .icon-bar {
	background-color:#33aa33;
}

.footer-bottom-layout {
  background: #FFFFFF none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;

.copyright-tag{
	color: #FFFFFF;
}

.footer-bottom-layout {
  text-align: center;
}

.card {
		margin-top: 30px;
		margin-left: 100px;
		margin-right: 100px;
		background-color: white;
		<!-- box-sizing: border-box; -->
		<!-- border-radius: 2px; -->
		<!-- background-clip: padding-box;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); -->
}
		
.card-footer{
		margin-top: 10px;
		margin-left: 100px;
		margin-right: 100px;
		background-color: white;
		box-sizing: border-box;
		border-radius: 2px;
		background-clip: padding-box;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); -->
}

.card-text {
		padding:10px;
}

.card-container {
	padding:20px;
}