{% extends "base.html" %}
{% block content %}

<style>
	.profile_round {
		display : block;
		margin : auto;
		border-radius : 50%;
	}

	.card {
		margin-top: 30px;
		margin-left: 100px;
		margin-right: 100px;
		background-color: white;
		<!-- box-sizing: border-box; -->
		<!-- border-radius: 2px; -->
		<!-- background-clip: padding-box;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); -->
	}

	.card-footer{
		margin-top: 10px;
		margin-left: 100px;
		margin-right: 100px;
		background-color: white;
		<!-- box-sizing: border-box; -->
		<!-- border-radius: 2px; -->
		<!-- background-clip: padding-box;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); -->
	}



	body {
		background-color: #EAEAEA;
	}
</style>

<body>
	<br><br>
	<div class="card-container card">
		<br>
		<div class="image" style="text-align: center">
			<br>
			<img class="profile_round" src="https://kokensupport.com/styles/simplicity_gray/theme/images/no_avatar.gif", width="150" height="150">
		</div>

		<h2 style="text-align: center; color:#000000">{{ name }}</h2>

		<style>
		table, th, td {
		  border: 10px solid white;
		  border-collapse: collapse;
		}
		th, td {
		  padding: 5px;
		  text-align: left;
		}
		</style>

		<table align="center">
			<colgroup>
    <col span="2">
  </colgroup>
			{% for biodata in bio %}
			<tr>
				<td class="subject" align ='left'>{{ biodata.subject }}</td>
				<td class="value" align =' right'>{{ biodata.value }}</td>
			</tr>


			{% endfor %}
			<tr>
            <td class="subject" align ='left'>Expertise: </td>
            <td class="value" align =' right'>
            {% for d in expertise %}
            <span class="w3-tag w3-small w3-padding-small">
            <li>{{ d }}</li>
            </span>
            {% endfor %}
            </td>
        </tr>

		</table>
		<br>
		<br>
		<br>


	</div>
</body>
{% endblock %}
