{% extends "base.html" %}

{% block title %} Friend List {% endblock %} 

{% block content %}
	<!-- Main Body -->
	<br><br><br>
	<div class="container">
		<div class="row">
			<h3> Add Friend </h3>
			<form method="POST" action="add_friend/">
				{% csrf_token %}
				{{ Friend_Form }}
				<br>
				<button type = "submit" class="btn btn-primary float-center-right"> Submit </button>
			</form>
			
	</div>
	
	<br>
	<table class="table">
	<tr>
		<th>Nama</th>
		<th>URL</th>
		<th>Dibuat Pada</th>
	</tr>
	{% for i in message %}
	<tr>
		<!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
		
			<td> {{i.name}} </td>
			<td> <a href="{{i.url}}">  {{i.url}} </a> </td>
			<td> {{i.date.time}} </td>             
	</tr>
	{% endfor %}
</table>
				
{% endblock %}

			