{% extends 'base.html' %}
{% block content %}
<br><br>
<html lang="en">
<style>
	.profile_round {
		display : block;
		margin : auto;
		border-radius : 50%;
	}

	.card {
		margin-top: 30px;
		margin-left: 100px;
		margin-right: 100px;
		background-color: white;
		background-clip: padding-box;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	
	.card-footer{
		margin-top: 10px;
		margin-left: 100px;
		margin-right: 100px;
		background-color: white;
		background-clip: padding-box;
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}

	.card-text {
		padding:10px;
	}

	.card-container {
		padding:20px;
	}

	body {
		background-color: #EAEAEA;
	}
	
	* {
		box-sizing: border-box;
	}
	
	[class*="col-"] {
		float: left;
		padding: 10px;
		<!-- border: 1px solid red; -->
	}
	
</style>

<head>
    <meta charset="UTF-8">
    <title>{{ name }} | Stats</title>
</head>

<body>
	<div class="card-container card">
		<br>
		<img class="profile_round" src="https://kokensupport.com/styles/simplicity_gray/theme/images/no_avatar.gif", width="150" height="150">
		<h1 style="text-align: center">{{ name }}</h1>
		<hr></hr>
		
		<div class="container">
			<div class="row" style="padding-left:30px">
				<div class="col-sm-4" style="card-text;font-size:17px; text-align: center; margin-left:45px"><b>Friends </b> &emsp; &emsp;{{ friends_count }} </div>
				<div class="col-sm-4" style="card-text;font-size:17px; text-align: center"><b>Feed </b> &emsp; &emsp;{{ feed_count }}</div>
			</div>
			
			<br>
			
			<div class="row" style="padding-left:30px">
				<div class="col-sm-4"> <b>Latest Post</b> </div>
			</div>
			
			<div class="row" style="padding-left:30px">
				<img class="col-sm-1.2" src="https://kokensupport.com/styles/simplicity_gray/theme/images/no_avatar.gif", width="75" height="75">
				<div class="col-sm-4" style="padding-bottom:13.5px; padding-top:20px; text-align:center-left"> <h4><b>{{ name }}</b></h4> </div>
			</div>
			
			<div class="row" style="padding-left:30px">
				<div class="col-sm-5" style="padding-bottom:5px;"> {{last_status.message}} </div>
			</div>
			
			<div class="row" style="padding-left:30px; margin-top:5px;" >
				<div class="col-sm-2" style="padding-top:0px; font-size:12px; color:#616161">{{last_status.created_date}}</div>
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}
