{% load staticfiles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/base.css' %}" />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap csss -->
    <title>
        Fotobuku
    </title>
</head>

<body>
    <header>
        {% include "partials/navbar.html" %}
    </header>
    <content>
		<div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </content>
    
    <footer>
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="application/javascript">
      console.log("HI");
      $(".btn-secondary").click(function(){
        var umessage = $('.form-control').val();
        console.log(umessage);
        $.post("{% url 'status:add_message' %}",
        {
          message: umessage,
          csrfmiddlewaretoken: '{{ csrf_token }}' 
        });
        location.reload();
      });
    </script>
</body>
</html>
